* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
}

.container {
    
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    padding-top: 200px;
    
}

.display {
    text-align: right;
    height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    color: white;
    line-height: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 150px;
    height: 200px;
    
    
    
}

#equal {
    width: 230%;
}

.buttons button {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
}

.special-function {
    background-color: #D4D4D2;
}

.operator {
    background-color: #FF9500;
}

.number {
    background-color: #505050;
}

.button:hover {
    background-color: lightgray;
    transition: 0.5 ease-in-out;
}